################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/jeroeningelbrecht.github.io/FileContentIndex/43e092d7-ab1f-4574-a016-bb6545b37f91.vsidx
/.vs/jeroeningelbrecht.github.io/FileContentIndex/read.lock
/.vs/jeroeningelbrecht.github.io/FileContentIndex/97b26c60-b583-4bee-8d9f-d60c057deadb.vsidx
/.vs/jeroeningelbrecht.github.io/FileContentIndex/72950cb7-dbcb-4a19-91f6-ae44409614f9.vsidx
/.vs/jeroeningelbrecht.github.io/FileContentIndex
/.vs
